/*
body, #mainWrapper {
	height: 100%;
}

.floatRight{
	float:right;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:100%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.padding-level1 {
	padding: 5px;
}
*/

.hidden {
	display: none;
}

.hidden-force {
	display: none !important;
}

.ui-datepicker-month, .ui-datepicker-year {
	display: inline
}

.cursor-pointer {
	cursor : pointer
}

.top-2 {
	margin-top: 6px;	
}

.clsModal {
	z-index : 50;
}

.ui-dialog { z-index: 100000 !important ;}


.clsHeader {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1100;
}
.clsContent {
  margin-top: 56px;
  z-index:1;
}