.nav-top {
	position: relative;
	z-index: 10;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 56px;
	padding-right: 2.9rem;
	background: #fff;
	border-bottom: 1px solid #c9d7df;
	outline: none
}

@media ( min-width :48em) {
	.nav-top {
		padding-right: .2rem
	}
}

@media ( min-width :34em) {
	body.body--has-sidebar .nav-top {
		padding-left: 0
	}
}

@media ( min-width :62em) {
	body.body--has-sidebar .nav-top {
		margin-left: 0
	}
}

@media ( min-width :62em) {
	body.body--has-sidebar .nav-top--logo {
		display: none
	}
}

.nav-top--icon {
	width: 1.6rem;
	height: 1.6rem;
	fill: #768a99;
	stroke: #768a99;
	stroke-width: 1px;
	stroke-linecap: round
}

.nav-top__home {
	background: none;
	border-bottom: 0
}

.nav-top__home .nav-top--logo {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	background: none
}

.nav-top__home .nav-top--right--link {
	color: #dfe5ea;
	border-bottom: 0 !important
}

.nav-top__home .nav-top--right--link.active, .nav-top__home .nav-top--right--link:active,
	.nav-top__home .nav-top--right--link:focus, .nav-top__home .nav-top--right--link:hover
	{
	color: #eff2f4
}

.nav-top__home .nav-top--icon {
	fill: #fff;
	stroke: #fff
}

.nav-top--logo {
	display: none;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 56px;
	height: 100%;
	background: #283544
}

@media ( min-width :34em) {
	.nav-top--logo {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

.nav-top--logo svg {
	width: 2rem;
	height: 2rem;
	pointer-events: none
}

.nav-top--form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding: .4rem .2rem
}

.nav-top--form--icon {
	position: absolute;
	top: 50%;
	left: .5rem;
	z-index: 3;
	width: 1.5rem;
	height: 1.5rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	fill: #768a99
}

.nav-top--form--input {
	height: 100%;
	padding-left: 2.8rem;
	font-style: italic;
	border-width: 0
}

@media ( max-width :33.9em) {
	.nav-top--form--input {
		border-width: 1px
	}
}

.nav-top--form--input-wrapper {
	position: relative;
	width: 100%;
	height: 100%
}

.nav-top--right {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.nav-top--right, .nav-top--right-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%
}

.nav-top--right-wrapper {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: .4rem .2rem
}

.nav-top--right--link {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	height: 58px;
	padding-top: 2px;
	padding-right: .3rem;
	padding-left: .3rem;
	margin-left: .8rem;
	color: #60707f;
	line-height: 54px;
	border-bottom: 3px solid transparent
}

.nav-top--right--link.active, .nav-top--right--link:active,
	.nav-top--right--link:focus, .nav-top--right--link:hover {
	border-bottom: 3px solid #00af9e
}

.nav-top--alert-count {
	position: absolute;
	bottom: .7rem;
	left: -.1rem;
	height: 1rem;
	min-width: 1rem;
	padding: 0 .3rem;
	color: #fff;
	font-size: .75rem;
	font-weight: 600;
	line-height: 1rem;
	text-align: center;
	background-color: #ff8127;
	border-radius: .5rem
}

.nav-top--list-room-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

.nav-top--language {
	width: 44px;
	height: 100%;
	padding: 0 .8rem;
	margin-left: .2rem;
	color: #60707f;
	text-transform: uppercase;
	border: none;
	cursor: pointer
}

@media ( max-width :47.9em) {
	.nav-top--language {
		display: none
	}
}

.nav-top--avatar {
	width: 2.2rem;
	height: 2.2rem;
	margin-right: .7rem;
	border: 2px solid #dfe5ea;
	border-radius: 50%
}

.nav-top--username {
	white-space: nowrap
}

@media ( max-width :47.9em) {
	.nav-top--username {
		display: none
	}
}

.nav-top--right--link__dropdown {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.dropdown-caret-down {
	padding-left: .4rem;
	font-size: .7rem
}

.dropdown--wrapper {
	position: relative
}

.dropdown--block {
	position: absolute;
	top: 55px;
	right: 0;
	display: none;
	width: 14rem;
	background-color: #fff;
	border: 1px solid #c9d7df;
	border-top: 3px solid #00af9e;
	border-bottom-right-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.nav-top__home .dropdown--block {
	border-top-right-radius: .2rem;
	border-top-left-radius: .2rem
}

@media ( max-width :47.9em) {
	.hidden-sm-down, .message-preview--price {
		display: none !important
	}
}

.c-select:focus, .chat--dialogue--textarea textarea:focus, .form-control:focus,
	.form-dark:focus, .nav-top--form--input:focus, .nav-top--language:focus,
	.sendgrid-subscription-widget__form-dark form label input:focus,
	.sendgrid-subscription-widget__form-light form label input:focus {
	border-color: #00af9e;
	outline: none
} 

.aircall-button, .alert, .blueimp-gallery>.indicator>li, .border-radius,
	.btn, .btn-add, .btn-brand, .btn-dark, .btn-default, .btn-facebook,
	.btn-google, .btn-grey-outline, .btn-group-lg>.btn, .btn-group-lg>.pagination--item,
	.btn-group-sm>.btn, .btn-group-sm>.pagination--item, .btn-lg,
	.btn-outline, .btn-sm, .btn-success, .btn-white, .btn-white-green,
	.btn-white-mint, .btn-white-mint-outline, .btn-white-opaque,
	.btn-white-orange, .btn-white-outline, .btn-xl, .btn-xs, .button,
	.card-listing--label-new, .footer .sendgrid-subscription-widget input[type=submit],
	.input-group-addon, .label, .nav-mobile__toggle,
	.nav-top--list-room-btn, .pagination--item, .pagination--item__active,
	.profile-card--verified, .sendgrid-subscription-widget form .response.success,
	.sendgrid-subscription-widget form .response.warning,
	.sendgrid-subscription-widget form input[type=submit], .tooltip-inner {
	border-radius: .2rem
}

.chat--dialogue--textarea textarea, .form-control, .form-dark,
	.nav-top--form--input, .nav-top--language,
	.sendgrid-subscription-widget__form-dark form label input,
	.sendgrid-subscription-widget__form-light form label input {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #515e6d;
	background-color: #fff;
	background-image: none;
	border: 1px solid #c9d7df;
	border-radius: .2rem;
	-webkit-transition: border-color .15s ease-in-out;
	transition: border-color .15s ease-in-out
}

.chat--dialogue--textarea textarea:not (select[multiple] ),
	.chat--dialogue--textarea textarea:not (select[size] ),
	.chat--dialogue--textarea textarea:not(textarea), .form-control:not
	(select[multiple] ), .form-control:not (select[size] ), .form-control:not(textarea),
	.form-dark:not (select[multiple] ), .form-dark:not (select[size] ),
	.form-dark:not(textarea), .nav-top--form--input:not (select[multiple] ),
	.nav-top--form--input:not (select[size] ), .nav-top--form--input:not(textarea),
	.nav-top--language:not (select[multiple] ), .nav-top--language:not
	(select[size] ), .nav-top--language:not(textarea),
	.sendgrid-subscription-widget__form-dark form label input:not (select[multiple]
	), .sendgrid-subscription-widget__form-dark form label input:not
	(select[size] ), .sendgrid-subscription-widget__form-dark form label input:not(textarea),
	.sendgrid-subscription-widget__form-light form label input:not (select[multiple]
	), .sendgrid-subscription-widget__form-light form label input:not
	(select[size] ), .sendgrid-subscription-widget__form-light form label input:not(textarea)
	{
	height: 2.45rem
}

.chat--dialogue--textarea textarea::-ms-expand, .form-control::-ms-expand,
	.form-dark::-ms-expand, .nav-top--form--input::-ms-expand,
	.nav-top--language::-ms-expand,
	.sendgrid-subscription-widget__form-dark form label input::-ms-expand,
	.sendgrid-subscription-widget__form-light form label input::-ms-expand
	{
	background-color: transparent;
	border: 0
}

.chat--dialogue--textarea textarea::-moz-placeholder, .form-control::-moz-placeholder,
	.form-dark::-moz-placeholder, .nav-top--form--input::-moz-placeholder,
	.nav-top--language::-moz-placeholder,
	.sendgrid-subscription-widget__form-dark form label input::-moz-placeholder,
	.sendgrid-subscription-widget__form-light form label input::-moz-placeholder
	{
	color: #768a99;
	opacity: 1
}

.chat--dialogue--textarea textarea:-ms-input-placeholder, .form-control:-ms-input-placeholder,
	.form-dark:-ms-input-placeholder, .nav-top--form--input:-ms-input-placeholder,
	.nav-top--language:-ms-input-placeholder,
	.sendgrid-subscription-widget__form-dark form label input:-ms-input-placeholder,
	.sendgrid-subscription-widget__form-light form label input:-ms-input-placeholder
	{
	color: #768a99
}

.chat--dialogue--textarea textarea::-webkit-input-placeholder,
	.form-control::-webkit-input-placeholder, .form-dark::-webkit-input-placeholder,
	.nav-top--form--input::-webkit-input-placeholder, .nav-top--language::-webkit-input-placeholder,
	.sendgrid-subscription-widget__form-dark form label input::-webkit-input-placeholder,
	.sendgrid-subscription-widget__form-light form label input::-webkit-input-placeholder
	{
	color: #768a99
}

.chat--dialogue--textarea fieldset[disabled] textarea,
	.chat--dialogue--textarea textarea:disabled, .form-control:disabled,
	.form-dark:disabled, .nav-top--form--input:disabled, .nav-top--language:disabled,
	.sendgrid-subscription-widget__form-dark form label fieldset[disabled] input,
	.sendgrid-subscription-widget__form-dark form label input:disabled,
	.sendgrid-subscription-widget__form-light form label fieldset[disabled] input,
	.sendgrid-subscription-widget__form-light form label input:disabled,
	fieldset[disabled] .chat--dialogue--textarea textarea, fieldset[disabled] .form-control,
	fieldset[disabled] .form-dark, fieldset[disabled] .nav-top--form--input,
	fieldset[disabled] .nav-top--language, fieldset[disabled] .sendgrid-subscription-widget__form-dark form label input,
	fieldset[disabled] .sendgrid-subscription-widget__form-light form label input
	{
	background-color: #f0f4f7;
	opacity: 1
}

.chat--dialogue--textarea fieldset[disabled] textarea,
	.chat--dialogue--textarea textarea[disabled], .form-control[disabled],
	.sendgrid-subscription-widget__form-dark form label fieldset[disabled] input,
	.sendgrid-subscription-widget__form-dark form label input[disabled],
	.sendgrid-subscription-widget__form-light form label fieldset[disabled] input,
	.sendgrid-subscription-widget__form-light form label input[disabled], [disabled].form-dark,
	[disabled].nav-top--form--input, [disabled].nav-top--language, fieldset[disabled] .chat--dialogue--textarea textarea,
	fieldset[disabled] .form-control, fieldset[disabled] .form-dark,
	fieldset[disabled] .nav-top--form--input, fieldset[disabled] .nav-top--language,
	fieldset[disabled] .sendgrid-subscription-widget__form-dark form label input,
	fieldset[disabled] .sendgrid-subscription-widget__form-light form label input
	{
	cursor: not-allowed
}