@font-face {
	font-family: Airglyphs;
	src:
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-a65ed58b98acfb02d9b2fca8d3592596.eot");
	src:
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-ie8-46394bc8d75742d1bbce6f07cf93442a.eot?#")
		format("eot"),
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-701f40935e70e54947e28932ff4c09cc.woff")
		format("woff"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-a53b457a3b30a4598620986b60e9f6f5.ttf")
		format("truetype"),
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-0d3bc31ac819a08e187d636e6ecddd8c.svg")
		format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: Circular;
	src:
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1601bfce1c9652eb33ea807d817a30dd.eot");
	src:
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-1601bfce1c9652eb33ea807d817a30dd.eot?#")
		format("eot"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-f016908d84431f0566776240dc8652fc.woff2")
		format("woff2"),
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-a81fe8415c30ad3049cfb08d3623587d.woff")
		format("woff"),
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-43e1d462e585f16e90b5d27423fc5d8b.svg")
		format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: Circular;
	src:
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot");
	src:
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot?#")
		format("eot"),
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-4909b413294f9048153d6dee23438b24.woff2")
		format("woff2"),
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-1db902f5b85bbb0964e2994434edbe16.woff")
		format("woff"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-0d9eb203b260869dc2470ae35162fc1e.svg")
		format("svg");
	font-weight: normal;
	font-style: italic
}

@font-face {
	font-family: Circular;
	src:
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-44d43ca7b4c3bf5364285df6282fbe52.eot");
	src:
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-44d43ca7b4c3bf5364285df6282fbe52.eot?#")
		format("eot"),
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-c6b068854263ae24ccc36a2b944d7017.woff2")
		format("woff2"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-0dba9a8cc666f696e92eff76a5d753f1.woff")
		format("woff"),
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-9ae13155a0bad6697556e3713a89795b.svg")
		format("svg");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Circular;
	src:
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-c4695b2827a2478e391c155781777f66.eot");
	src:
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-c4695b2827a2478e391c155781777f66.eot?#")
		format("eot"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-328fc4c742a91de3477978911e384410.woff2")
		format("woff2"),
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-f76c67e53b97895a8f31fc8f0246ab7f.woff")
		format("woff"),
		url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-d1ee89419dc527be163d0151af5b087e.svg")
		format("svg");
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: Airmoji_Standalone;
	src:
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-6aa6267ec602f4d1a9736e7bfd5d37f4.eot");
	src:
		url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-6aa6267ec602f4d1a9736e7bfd5d37f4.eot?#")
		format("eot"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-5074307e3354cd9576540aa86d4f7a3c.woff2")
		format("woff2"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-c4a4bda5b199132706fe4eacf3c58dbd.woff")
		format("woff"),
		url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-411aad4337303ec45207571b4e26b34b.svg")
		format("svg");
	font-weight: normal;
	font-style: normal
}


@font-face {
	font-family: '63242100-bac3-11e6-ae03-dfd7358aabd2';
	src:
		url("/static/font/searchresult/63242100-bac3-11e6-ae03-dfd7358aabd2.eot");
	src:
		url("/static/font/searchresult/63242100-bac3-11e6-ae03-dfd7358aabd2.eot?#iefix")
		format('eot'),
		url("/static/font/searchresult/63242100-bac3-11e6-ae03-dfd7358aabd2.woff")
		format('woff'),
		url("/static/font/searchresult/63242100-bac3-11e6-ae03-dfd7358aabd2.ttf")
		format('truetype'),
		url("/static/font/searchresult/63242100-bac3-11e6-ae03-dfd7358aabd2.svg#63242100-bac3-11e6-ae03-dfd7358aabd2")
		format('svg')
}

[class*=" beicon-"], [class^=beicon-] {
	font-family: '63242100-bac3-11e6-ae03-dfd7358aabd2';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background: transparent
}

a:active, a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
}

html {
	font-size: 16px
}

p {
	margin: 0 0 10px
}


.AccomodationFilter {
	display: -webkit-box;
	display: -webkit-flex;
	box-sizing: border-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: .75rem;
	padding: 1em 0 1em 1em
}

@media only screen and (min-width:680px) {
	.AccomodationFilter {
		-webkit-box-lines: single;
		-moz-box-lines: single;
		-o-box-lines: single;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-o-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.AccomodationFilter-element {
	margin-left: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: distribute;
	-o-box-pack: distribute;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
	margin-left: 0
}

@media only screen and (min-width:680px) {
	.AccomodationFilter-element {
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-o-box-orient: horizontal;
		-webkit-box-lines: single;
		-moz-box-lines: single;
		-o-box-lines: single;
		-ms-flex-flow: row nowrap;
		flex-flow: row;
		width: 80%
	}
}

.AccomodationFilter-title {
	padding-bottom: 1em;
	color: #777875;
	min-width: 9em
}

@media only screen and (min-width:680px) {
	.AccomodationFilter-title {
		-webkit-align-self: flex-end;
		align-self: flex-end;
		-ms-flex-item-align: end;
		/* margin-bottom: 0;
		padding-bottom: 0*/ 
	}
}

@media only screen and (min-width:680px) {
	.AmenityFilterItem {
		width: 33%;
		height: 33%
	}
}

.AmenityFilterItem-icon {
	font-size: 1.4em
}

.AmenityFilterItem-text {
	margin-right: .75em
}

.beicon-air-conditioning:before {
	content: "\E002"
}

.beicon-closet:before {
	content: "\E00C"
}

.beicon-complete-apartment:before {
	content: "\E00E"
}

.beicon-dish-washer:before {
	content: "\E016"
}

.beicon-double-bed:before {
	content: "\E017"
}

.beicon-en-suite:before {
	content: "\E01B"
}

.beicon-female-only:before {
	content: "\E01E"
}

.beicon-heart:before {
	content: "\E024"
}

.beicon-heating:before {
	content: "\E025"
}

.beicon-host-family:before {
	content: "\E027"
}

.beicon-lift:before {
	content: "\E02D"
}

.beicon-pin:before {
	content: "\E03A"
}

.beicon-rooms:before {
	content: "\E03C"
}

.beicon-salon:before {
	content: "\E03D"
}

.beicon-shared-flat:before {
	content: "\E03F"
}

.beicon-shower:before {
	content: "\E043"
}

.beicon-single-bed:before {
	content: "\E044"
}

.beicon-student-hall:before {
	content: "\E048"
}

.beicon-town:before {
	content: "\E051"
}

.beicon-tv:before {
	content: "\E052"
}

.beicon-washing-machine:before {
	content: "\E05A"
}

.beicon-wifi:before {
	content: "\E05E"
}


.BoxPrice {
	background: rgba(72, 74, 76, .7);
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: .5em;
	padding-left: .7em;
	padding-top: .2em
}


.BoxPrice, .BoxPrice-container {
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex
}

.BoxPrice-container {
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-o-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.BoxPrice-price, .BoxPrice-separator {
	font-size: 1.45em
}

.BoxPrice-separator {
	margin: 0 1px
}

.BoxPrice-period {
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: normal;
	font-size: .7em;
	margin-left: .3em
}

.BoxPrice-billsIncluded, .BoxPrice-period {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	text-transform: capitalize
}

.BoxPrice-billsIncluded {
	font-size: .67em;
	margin-top: -.4em;
	-webkit-box-pack: end;
	-o-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	line-height: 150%
}

.BoxPrice-billsIncluded:active, .BoxPrice-billsIncluded:focus,
	.BoxPrice-billsIncluded:hover, .BoxPrice-billsIncluded:link {
	color: #fff;
	text-decoration: none
}

.BoxPrice-billsIncluded icon {
	margin-left: .3em
}

.ProductCard .BoxPrice {
	color: #fff;
	position: absolute;
	width: 75%
}


.ProductCard .BoxPrice {
	font-size: 3.464285714285714vw;
	top: 1.2em;
	width: 29.393939393939394vw
}

@media only screen and (min-width:680px) {
	.ProductCard .BoxPrice {
		width: 14.242424242424244vw;
		font-size: 1.678571428571429vw
	}
}

@media only screen and (min-width:1000px) {
	.ProductCard .BoxPrice {
		width: 8.181818181818182vw;
		font-size: .964285714285714vw
	}
}


.image-gallery-slide.center {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	position: relative
}

.image-gallery-slide.center {
	text-align: center
}

.DateInput {
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	color: #757575;
	background: #fff;
	position: relative;
	display: inline-block;
	width: 130px;
	vertical-align: middle
}

.MainFilter .DateInput {
	color: #777875
}

.DateInput__input {
	opacity: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 3px;
}

.DateInput__input {
	cursor: pointer
}

.FavouriteItem {
	position: absolute;
	top: 0;
	right: 0
}


.FeaturesFilters {
	display: -webkit-box;
	display: -webkit-flex;
	box-sizing: border-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: .80rem;
	padding: 2em 0 2em 1em
}

@media only screen and (min-width:680px) {
	.FeaturesFilters {
		-webkit-box-lines: single;
		-moz-box-lines: single;
		-o-box-lines: single;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-o-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}


.FeaturesFilters-title {
	/*padding-bottom: 1em;*/
	color: #777875;
	min-width: 9em;
	margin-top: auto;
    margin-bottom: auto;
}

.FeaturesFilters-element {
	margin-left: 1em
}


@media only screen and (min-width:680px) {
	.FeaturesFilters {
		border-top: 0 none;
		padding-top: 0
	}
}

@media only screen and (min-width:680px) {
	.FeaturesFilters-title {
		padding-top: 2em;
		margin-top: auto;
    	margin-bottom: auto;
	}
}


.FeaturesFilters-element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%
}

@media only screen and (min-width:680px) {
	.FeaturesFilters-element {
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-o-box-lines: multiple;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: horizontal;
		-o-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row;
		padding-top: 2em
	}
}


.FilterResult {
	box-sizing: border-box;
	display: inline-block;
	overflow-y: scroll;
	height: 94vh;
	width:100%;
}

@media only screen and (min-width:680px) {
	.FilterResult {
		width: 99vw;
		padding-right: 1vw
	}
}

@media only screen and (min-width:1000px) {
	.FilterResult {
		width: 57vw
	}
}


.FilterToolBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-o-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 1em 0 1em 1em
}

@media only screen and (min-width:680px) {
	.FilterToolBar {
		padding: 2em 0 2em 1em
	}
}

.FilterToolBar-apply, .FilterToolBar-cancel, .FilterToolBar-showExtended
	{
	font-size: 1rem;
	margin-right: 1em;
	margin-bottom: .3em
}

.FilterToolBar-apply, .FilterToolBar-cancel {
	padding-right: 4em;
	padding-left: 4em
}

@media only screen and (min-width:680px) {
	.FilterToolBar-apply, .FilterToolBar-cancel {
		font-size: .85rem;
		padding-right: 7em;
		padding-left: 7em
	}
}


.FilterToolBar-cancel {
	background-color: #fff;
	color: #777875;
	border: 1px solid #b9bbb9
}

.FilterToolBar--expanded {
	position: fixed;
	background-color: #fff;
	bottom: 0;
	width: 97vw;
	-webkit-box-pack: end;
	-o-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

@media only screen and (min-width:680px) {
	.FilterToolBar--expanded {
		width: 98vw
	}
}

@media only screen and (min-width:1000px) {
	.FilterToolBar--expanded {
		width: 56vw
	}
}

.IconFilter {
	cursor: pointer
}

.IconFilter-icon {
	display: inline-block;
	color: #777875
}

.IconFilter-icon:before {
	font-family: Airglyphs, sans-serif
}


.IconFilter {
	width: auto;
}

@media only screen and (min-width:680px) {
	.IconFilter {
		width: auto;
	}
}

.IconFilter-icon {
	display: inline-block;
	font-size: 2.5em
}

@media only screen and (min-width:680px) {
	.IconFilter p {
		margin-bottom: 0
	}
}

.IconFilter-icon--enabled {
	color: #03a9f4
}


.image-gallery {
	-o-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.image-gallery-content {
	position: relative
}

.image-gallery-content .image-gallery-left-nav, .image-gallery-content .image-gallery-right-nav
	{
	color: #fff;
	cursor: pointer;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 6em;
	line-height: 0;
	position: absolute;
	text-shadow: 0 2px 2px #222;
	top: 48%;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	z-index: 1
}


@media ( max-width :768px) {
	.image-gallery-content .image-gallery-left-nav, .image-gallery-content .image-gallery-right-nav
		{
		font-size: 3.4em
	}
}


@media ( min-width :768px) {
	.image-gallery-content .image-gallery-left-nav:hover,
		.image-gallery-content .image-gallery-right-nav:hover {
		color: #337ab7
	}
}

.image-gallery-content .image-gallery-left-nav {
	left: 0
}


.image-gallery-content .image-gallery-left-nav:before {
	content: '\2039';
	padding: 0 15px
}

.image-gallery-content .image-gallery-right-nav {
	right: 0
}

.image-gallery-content .image-gallery-right-nav:before {
	content: '\203A';
	padding: 0 15px
}

.image-gallery-slides {
	line-height: 0;
	overflow: hidden;
	position: relative;
	white-space: nowrap
}

.image-gallery-slide {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	position: absolute;
	-webkit-transition: all .45s ease-out;
	transition: all .45s ease-out;
	width: 100%
}


.image-gallery-slide.left, .image-gallery-slide.right {
	left: 0;
	top: 0
}

.image-gallery-slide.left {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0)
}

.image-gallery-slide.center {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	position: relative
}

.image-gallery-slide.right {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0)
}

.image-gallery-slide img {
	width: 100%
}

.image-gallery-bullets {
	bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%
}

.image-gallery-bullets .image-gallery-bullets-container {
	margin: 0;
	padding: 0
}

.image-gallery-bullets .image-gallery-bullet {
	border: 1px solid #fff;
	border-radius: 50%;
	box-shadow: 0 1px 0 #222;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	padding: 5px
}

@media ( max-width :768px) {
	.image-gallery-bullets .image-gallery-bullet {
		margin: 0 3px;
		padding: 3px
	}
}

.image-gallery-bullets .image-gallery-bullet.active {
	background: #fff
}

.image-gallery-thumbnails {
	background: #fff;
	overflow: hidden;
	padding-top: 10px
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
	cursor: pointer;
	text-align: center;
	-webkit-transition: all .45s ease-out;
	transition: all .45s ease-out;
	white-space: nowrap
}

.image-gallery-thumbnail {
	display: inline-block;
	padding-right: 10px
}

.image-gallery-thumbnail img {
	border: 4px solid transparent;
	-webkit-transition: border .3s ease-out;
	transition: border .3s ease-out;
	vertical-align: middle;
	width: 100px
}

@media ( max-width :768px) {
	.image-gallery-thumbnail img {
		border: 3px solid transparent;
		width: 75px
	}
}

.image-gallery-thumbnail.active img {
	border: 4px solid #337ab7
}

@media ( max-width :768px) {
	.image-gallery-thumbnail.active img {
		border: 3px solid #337ab7
	}
}

.image-gallery {
	background-color: #dadada;
}

.image-gallery-bullets {
	bottom: 4em
}

.image-gallery-left-nav, .image-gallery-right-nav {
	font-size: 5em !important
}

.image-gallery-left-nav:hover, .image-gallery-right-nav:hover {
	color: #03a9f4 !important
}

.image-gallery-slide img {
	width: auto;
	max-height: 64.66666666666667vw;
	min-height: 64.66666666666667vw
}

@media only screen and (min-width:680px) {
	.image-gallery-slide img {
		max-height: 31.333333333333332vw;
		min-height: 31.333333333333332vw
	}
}

@media only screen and (min-width:1000px) {
	.image-gallery-slide img {
		max-height: 18vw;
		min-height: 18vw
	}
}

.image-gallery-slide.center {
	text-align: center
}

.MainFilter {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: .875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-o-box-lines: single;
	-ms-flex-flow: column nowrap;
	flex-flow: column
}

@media only screen and (min-width:680px) {
	.MainFilter {
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-o-box-orient: horizontal;
		-webkit-box-lines: single;
		-moz-box-lines: single;
		-o-box-lines: single;
		-ms-flex-flow: row nowrap;
		flex-flow: row;
		-webkit-box-pack: justify;
		-o-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1em;
		-webkit-box-flex: 1;
		-o-box-flex: 1;
		-ms-box-flex: 1;
		box-flex: 1;
		flex-grow: 1
	}
}

.MainFilter-title {
	margin-top: 1em;
	margin-right: 4em
}


.MainFilter .SearchPlaceBox {
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	flex-grow: 1;
	margin-bottom: 1em
}

@media only screen and (min-width:680px) {
	.MainFilter .SearchPlaceBox {
		margin-right: 1em
	}
}

.MainFilter .SearchPlaceBox-container {
	border-radius: 4px
}

.MainFilter .SearchPlaceBox-input, .MainFilter .SearchPlaceBox-label,
	.MainFilter .SearchPlaceBox-labelInside {
	padding-top: 6px;
	padding-bottom: 6px
}

.MainFilter .SearchPlaceBox-close {
	top: 5px
}

.MainFilter .DateInput {
	color: #777875
}

.MainFilter .DateInput__display-text--focused {
	background-color: #fff;
	border-bottom: 2px solid #ffa771;
	color: #777875;
	border-radius: 0
}

.mapa {
	width: 42vw
}



.PriceFilter {
	display: -webkit-box;
	display: -webkit-flex;
	box-sizing: border-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: .75rem;
	padding: 2em 0 2em 1em;
	padding: 1em
}

@media only screen and (min-width:680px) {
	.PriceFilter {
		-webkit-box-lines: single;
		-moz-box-lines: single;
		-o-box-lines: single;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-o-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.PriceFilter-title {
	/*padding-bottom: 1em;*/
	color: #777875;
	min-width: 9em
}

.PriceFilter-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.PriceFilter-element {
	margin-left: 1em
}

@media only screen and (min-width:680px) {
	.PriceFilter-title {
		/*padding-bottom: 0;*/
		-webkit-align-self: flex-end;
		align-self: flex-end;
		-ms-flex-item-align: end
	}
}

.PriceFilter-box {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: baseline;
	-o-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline
}

.PriceFilter-maxValue, .PriceFilter-minValue {
	display: inline-block;
	font-size: 1em;
	min-width: 2.5em;
	font-weight: bold;
}

.PriceFilter-minValue {
	margin-right: 1em;
	text-align: right
}

.PriceFilter-maxValue {
	margin-left: 1em
}

.PriceFilter-boxSlider {
	margin-top: 1em;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	flex-grow: 1
}

@media only screen and (min-width:680px) {
	.PriceFilter-boxSlider {
		width: 100%
	}
}

.PriceFilter-slider {
	height: 10px
}

.PriceFilter-handle {
	background-repeat: repeat-x;
	background: -webkit-linear-gradient(#f6f6f6, #ececec);
	background: linear-gradient(#f6f6f6, #ececec);
	border-radius: 50%;
	border: 1px solid hsla(0, 0%, 59%, .28);
	box-shadow: 0 4px 8px 0 #fff;
	height: 18px;
	margin-top: -3px;
	width: 18px
}

.PriceFilter-bar {
	background: #03a9f4;
	height: 10px;
	border-radius: .5rem
}

.PriceFilter-bar-0, .PriceFilter-bar-2 {
	background-color: #d8d8d8
}


.ProductCard {
	font-size: .875rem;
	position: relative;
	margin-bottom: 78px;
	width: 97vw;
	max-height: 64.66666666666667vw
}

@media only screen and (min-width:680px) {
	.ProductCard {
		width: 47vw;
		max-height: 31.333333333333332vw
	}
}

@media only screen and (min-width:1000px) {
	.ProductCard {
		width: 27vw;
		max-height: 18vw
	}
}

.ProductCard-picture {
	width: 100%;
	height: 100%;
	min-height: 64.66666666666667vw
}

@media only screen and (min-width:680px) {
	.ProductCard-picture {
		min-height: 31.333333333333332vw
	}
}

@media only screen and (min-width:1000px) {
	.ProductCard-picture {
		min-height: 18vw
	}
}

.FavouriteItem {
	position: absolute;
	top: 0;
	right: 0
}

.FavouriteItem-icon {
	color: #000000;
	padding-top: .5em;
	padding-right: .5em;
	font-size: 1.6rem;
	cursor: pointer
}

.FavouriteItem-icon--active {
	color: #03a9f4;
	-webkit-animation-name: checkFavouriteIcon;
	animation-name: checkFavouriteIcon;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-delay: 0;
	animation-delay: 0;
	-webkit-animation-play-state: running;
	animation-play-state: running
}

.ProductCardExtraInfoLine {
	border-top: 0;
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	color: #777875;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-o-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	font-size: .75rem;
	height: auto;
	min-height: 3rem
}

.ProductCardExtraInfoLine--borderBottomNone {
	border-bottom: 0
}

.ProductCardExtraInfoLine-distance, .ProductCardExtraInfoLine-time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	padding: .5em;
	width: 50%
}

.ProductCardExtraInfoLine-distance {
	-webkit-box-flex: 2;
	-o-box-flex: 2;
	-ms-box-flex: 2;
	box-flex: 2;
	flex-grow: 2;
	border-right: 1px solid #d8d8d8;
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.ProductCardExtraInfoLine-distance icon {
	font-size: 1.5em
}

.ProductCardExtraInfoLine-time {
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-o-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-box-pack: distribute;
	-o-box-pack: distribute;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.ProductCardExtraInfoLine-time-icon {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	-ms-flex-item-align: start;
	display: inline-block;
	font-size: 1.4rem
}

.ProductCardExtraInfoLine-time-time {
	display: inline-block
}

.ProductCardMainProperties {
	background: rgba(72, 74, 76, .7);
	font-size: .9em;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-o-box-lines: single;
	-ms-flex-flow: row nowrap;
	flex-flow: row;
	height: 3.5rem;
	position: absolute;
	bottom: 0;
	width: 100%
}

.ProductCardMainProperties-type {
	font-size: .75em;
	text-align: center;
	text-transform: capitalize;
	margin-left: 1.2em;
	padding-right: 1.2em;
	border-right: 1px solid #b9bbb9;
	min-width: 100px;
	max-width: 100px;
	line-height: normal
}

.ProductCardMainProperties-type-icon:before {
	font-family: Airglyphs, sans-serif
}

.ProductCardMainProperties-type-icon {
	margin-top: .1em;
	display: block;
	font-size: 2.4em;
	margin-bottom: .1em
}

.ProductCardMainProperties-info {
	font-size: 1em;
	margin-left: .6em;
	margin-right: .6em;
	overflow: hidden
}

.ProductCardMainProperties-info-title {
	font-size: 1.5em;
	display: block;
	height: 50.39999999999999px;
	margin: 0 auto;
	line-height: 1.4;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: .3em
}

.ProductCardMainProperties-scrollerRoom {
	margin-right: auto;
	margin-left: auto;
	margin-top: .4em;
	font-size: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.ProductCardMainProperties-scrollerRoom-next,
	.ProductCardMainProperties-scrollerRoom-prev {
	cursor: pointer;
	font-size: 2em;
	padding: 0 .3em;
	line-height: 1
}

.RoomFilters {
	display: -webkit-box;
	display: -webkit-flex;
	box-sizing: border-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: .80rem;
	padding: 2em 0 2em 1em
}

@media only screen and (min-width:680px) {
	.RoomFilters {
		-webkit-box-lines: single;
		-moz-box-lines: single;
		-o-box-lines: single;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-orient: horizontal;
		-o-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.RoomFilters-title {
	/*padding-bottom: 1em;*/
	color: #777875;
	min-width: 9em;
	margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px;
}

.RoomFilters-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.RoomFilters-element {
	margin-left: 1em
}

@media only screen and (min-width:680px) {
	.RoomFilters-title {
		width: inherit
	}
}

.RoomFilters-element {
	margin-bottom: 1em;
	padding-right: .6em;
	
}

@media only screen and (min-width:680px) {
	.RoomFilters-element {
		margin-bottom: 0;
		margin-left: 3em;
		width: auto
	}
}

.RoomFilters-element input[type=radio] {
	top: -1em;
	position: relative
}

.RoomFilters-element-icon {
	font-size: 2.5em;
	color: filterLabelColor;
	margin-right: .5em
}

.RoomFilters-element-title {
	display: none
}

@media only screen and (min-width:680px) {
	.RoomFilters-element-title {
		display: block
	}
}

@media only screen and (min-width:680px) {
	.RoomFilters-element--numberOfBeds {
		min-width: 8em
	}
}


.SearchApp {
	box-sizing: border-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-box;
	display: inline-flex;
	width: 100vw;
	position: relative;
	padding-left: 2vw;
	padding-right: 2vw
}

@media only screen and (min-width:680px) {
	.SearchApp {
		padding-left: 1vw;
		padding-right: 0
	}
}

.SearchCounter h2 {
	border-top: 1px solid #b9bbb9
}

.SearchCounter {
	margin-left: auto
}

.SearchCounter h2 {
	color: #979797;
	margin-right: .5rem;
	margin-top: .5em;
	text-align: right;
	width: 100%;
	font-size: 14px
}

@media only screen and (min-width:680px) {
	.SearchCounter h2 {
		border-top: 0 none;
		margin-right: 1.5rem;
		width: auto;
		margin-right: 2.5rem
	}
}

.SearchMap {
	box-sizing: border-box;
	display: none;
	overflow-y: hidden;
	position: relative
}

@media only screen and (min-width:1000px) {
	.SearchMap {
		display: inherit
	}
}

@media only screen and (max-width:1000px) {
	.mapa {
		width: 98vw
	}
}

.SearchMapMarker {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	background-color: #03a9f4;
	padding: .4em .5em;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 1.1;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .3)
}

.SearchMapMarker:before {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid rgba(0, 0, 0, .3);
	bottom: -8px;
	margin-left: -8px
}

.SearchMapMarker:after, .SearchMapMarker:before {
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	left: 50%
}

.SearchMapMarker:after {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #03a9f4;
	bottom: -7px;
	margin-left: -7px
}


.SearchMapMarker-price {
	font-weight: 700;
	line-height: 1
}


.SearchPlaceBox-input {
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: .5em;
	border: 1px solid #b9bbb9;
	border-left-width: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	flex-grow: 1;
	line-height: normal;
	cursor: text
}

.SearchPlaceBox-input--withBorder {
	border-left-width: 1px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}

.SearchPlaceBox-input--withBorder.SearchPlaceBox-input--withList {
	border-bottom-left-radius: 0
}

.SearchPlaceBox-input--withList {
	border-bottom-right-radius: 0
}

.SearchPlaceBox-input:focus {
	outline: none
}

.SearchPlaceBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #777875;
	position: relative;
	text-align: left;
	line-height: normal;
	font-size: 1rem
}

.SearchPlaceBox-container {
	-webkit-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
	position: relative
}

.SearchPlaceBox-container, .SearchPlaceBox-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.SearchPlaceBox-label {
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: .5em;
	border: 1px solid #b9bbb9;
	border-left-width: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	flex-grow: 1;
	line-height: normal;
	cursor: text;
	background-color: #fff;
	width: 200px;
	overflow: hidden
}

.SearchPlaceBox-label--withBorder {
	border-left-width: 1px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}

.SearchPlaceBox-label--withBorder.SearchPlaceBox-input--withList {
	border-bottom-left-radius: 0
}

.SearchPlaceBox-label--withList {
	border-bottom-right-radius: 0
}

.SearchPlaceBox-label:focus {
	outline: none
}

.SearchPlaceBox-label-icon {
	margin-right: .3em
}

.SearchPlaceBox-close {
	color: #b9bbb9;
	position: absolute;
	right: .5em;
	top: 1px
}

.SearchPlaceBox-labelInside {
	background: #03a9f4;
	border: 1px solid #0275a8;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity = 90);
	padding: .3em .4em;
	line-height: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 40%
}

.SearchPlaceBox-labelInside-icon {
	margin-right: .3em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.SearchPlaceBox-labelInside-icon:before {
	font-family: Airglyphs, sans-serif
}

.SearchPlaceBox-labelInside--open {
	border-bottom-left-radius: 0
}


.MainFilter .SearchPlaceBox {
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	flex-grow: 1;
	margin-bottom: 1em
}

@media only screen and (min-width:680px) {
	.MainFilter .SearchPlaceBox {
		margin-right: 1em
	}
}

.MainFilter .SearchPlaceBox-container {
	border-radius: 4px
}

.MainFilter .SearchPlaceBox-input, .MainFilter .SearchPlaceBox-label,
	.MainFilter .SearchPlaceBox-labelInside {
	padding-top: 6px;
	padding-bottom: 6px
}

.MainFilter .SearchPlaceBox-close {
	top: 5px
}

.SearchPlaceBoxLabelInside-label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 85%
}


.SearchPlaceBox-labelInside {
	background: #03a9f4;
	border: 1px solid #0275a8;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity = 90);
	padding: .3em .4em;
	line-height: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 40%
}



.SearchPlaceBox-labelInside--open {
	border-bottom-left-radius: 0
}

.MainFilter .SearchPlaceBox-labelInside {
	padding-top: 6px;
	padding-bottom: 6px
}


.SearchResults {
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: distribute;
	-o-box-pack: distribute;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	position: relative
}

.SearchTitle {
	font-size: 1rem
}

.SearchTitle h1 {
	font-size: 1.125em;
	color: #979797;
	width: 100%;
	padding-left: .75em
}

.u-borderTop {
	border-top: 1px solid #b9bbb9
}


.u-button {
	background: #03a9f4;
	color: #fff;
	border: 0 none;
	padding: .3rem 1.25rem;
	border-radius: 2px;
	cursor: pointer;
	white-space: nowrap
}

.u-checkbox {
	position: relative;
	-webkit-appearance: none;
	height: 1.15em;
	width: 1.15em;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: top;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	background-color: #fff;
	color: #565a5c
}

.u-checkbox:checked {
	background-color: #03a9f4;
	border-color: #0275a8
}

.u-filterLabel {
	color: #777875;
	font-weight: bold;
}



.u-select {
	width: 100%;
	padding: 6px 12px;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: .75rem;
	border: 1px solid #ccc
}

.u-select, .u-select-wrapper {
	position: relative
}


.u-textCenter {
	text-align: center
}

.Pagination {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 2rem;
	text-align: center;
	padding-top: 1em
}


.Pagination-element {
	border: 1px solid #b9bbb9;
	color: #777875;
	cursor: pointer;
	padding: 6px 12px;
	text-decoration: none
}

.Pagination-element:nth-child(n+2) {
	border-left: 0 none
}

.Pagination-element:active, .Pagination-element:hover,
	.Pagination-element:link {
	color: #777875
}

.Pagination-element--selected {
	background: #03a9f4;
	border-color: #03a9f4;
	color: #fff
}

.Pagination-element--selected:active, .Pagination-element--selected:hover,
	.Pagination-element--selected:link {
	color: #fff
}


.icon {
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.icon:before {
	font-family: Airglyphs, sans-serif
}

.icon-filter:before {
	content: '\f170';
	letter-spacing: 10px;
}

.filter-element-4 {
	width : 24%;
}

@media only screen and (max-width:414px) {
	.filter-element-4 {
		width: 100%;
	}
}

.icon-entire-place:before {
	content: '\f165';
	letter-spacing: 10px;
}

.icon-private-room:before {
	content: '\f1c3';
	letter-spacing: 10px;
}

.icon-shared-room:before {
	content: '\f1d5';
	letter-spacing: 10px;
}

.icon-location:before {
	content: '\f1a5';
}

#searchDateDiv, #startDateDiv, #endDateDiv, #btnSearch {
	height: 34px;
	min-width: 80px;
}

@media only screen and (max-width:320px) {
	#searchDateDiv{
		width: 100%; 		
	}
	#startDateDiv, #endDateDiv, #btnSearch {
		width: 100%;
		margin-top: 5px;
	}
	#endDateDiv {
		right: 0px;
	}
}

@media only screen and (min-width:321px) and (max-width:700px) {
	#searchDateDiv{
		width: 100%;
		text-align: center; 		
	}
	#startDateDiv, #endDateDiv {
		width: 45%;
	}
	#endDateDiv {
		margin-right: 0px;
	}
}

@media only screen and ( max-width :700px) {
	#btnSearch {
		width: 100%;
		margin-top: 5px;
	}
	
	.u-select-wrapper, .filter-element-4 {
		display:inline !important;
	}
	
	.full-width {
		width: 100%;
	}
	
	.filter-element-4 {
		margin-top: 4px;
	}
	
	.clsInlineMobile{
		display:inline-block;
	}
	
	.RoomFilters {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.FeaturesFilters {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.clsFilterLabel {
		width: 120px;
	}
}

@media only screen and ( min-width :701px) {
	#searchDateDiv{
		width: 35%; 	
		min-width: 150px;	
	}
	#startDateDiv, #endDateDiv {
		width: 48%;
		min-width: 70px;
	}
	#endDateDiv {
		margin-left: 2px;
	}
	#btnSearch{
		margin-top: 0px; 
		margin-left: 5px;
	}
}

.filter-element-4 {
	min-width: 180px;
}
