<div class="modal show" role="dialog" id="accept-modal"
	aria-hidden="false">
	<div class="modal-table">
		<div class="modal-cell">
			<div class="modal-content">
				<div class="panel-header">Complete Your Profile To Join Erasmus Community</div>
				<div class="row row-condensed space-4">
					<label class="col-sm-3">Home Country</label>
					<div class="select">
						<select id="cmbHomeCountry" ng-model="ctrl.homeCountryId" ng-change="ctrl.onHomeCountryChange()">
							<option value="-1"
								selected="#{webApplication.user.homeCountryId == null ? 'selected' : ''}">-Select Country-</option>
							<ui:repeat var="country" value="#{userController.countryList}" varStatus="status">
								<option value="#{country.id}" selected="#{webApplication.user.homeCountryId eq country.id ? 'selected' : ''}">#{country.name}</option>
							</ui:repeat>
						</select>
					</div>
				</div>
				<div class="row row-condensed space-4">
					<label class="text-right col-sm-3">Home City</label>
					<div class="col-sm-9">
						<div class="select">
							<select id="cmbHomeCity">
								<option value="-1"
									selected="#{webApplication.user.homeCityId == null ? 'selected' : ''}">-Select City-</option>
								<ui:repeat var="city" value="#{userController.homeCityList}" varStatus="status">
									<option value="#{city.id}" selected="#{webApplication.user.homeCityId eq city.id ? 'selected' : ''}">#{city.name}</option>
								</ui:repeat>
							</select>
						</div>
					</div>
				</div>
				<div class="row row-condensed space-4">
					<label class="text-right col-sm-3">Your University</label>
					<div class="col-sm-9">
						<div class="select">
							<select id="cmbHomeUniversity">
								<option value="-1"
									selected="#{webApplication.user.homeUniversityId == null ? 'selected' : ''}">-Select University-</option>
								<ui:repeat var="university" value="#{userController.homeUniversityList}" varStatus="status">
									<option value="#{university.id}" selected="#{webApplication.user.homeUniversityId eq university.id ? 'selected' : ''}">#{university.name}</option>
								</ui:repeat>
							</select>
						</div>
					</div>
				</div>
				<div class="row row-condensed space-4">
					<label class="text-right col-sm-3"></label>
					<div class="col-sm-9">
						<span>
							<input id="chbIsErasmusStudent" ng-model="ctrl.isErasmusStudent" 
								ng-change="ctrl.onIsErasmusChange()" type="checkbox" />
						</span>
						<span>
							<label class="text-left" style="display:inline;">I am Erasmus Student</label>
						</span>
					</div>
				</div>
			</div>
			<div id="divErasmusInfo" class="panel-body #{webApplication.user.profileTypeId == 1 ? '' : 'hidden-force'}">
				<div class="row row-condensed space-4">
					<label class="text-right col-sm-3">Erasmus Country</label>
					<div class="col-sm-9">
						<div class="select">
							<select id="cmbErasmusCountry" ng-model="ctrl.erasmusCountryId" ng-change="ctrl.onErasmusCountryChange()">
								<option value="-1"
									selected="#{webApplication.user.erasmusCountryId == null ? 'selected' : ''}">-Select Country-</option>
								<ui:repeat var="country" value="#{userController.countryList}" varStatus="status">
									<option value="#{country.id}" selected="#{webApplication.user.erasmusCountryId eq country.id ? 'selected' : ''}">#{country.name}</option>
								</ui:repeat>
							</select>
						</div>
					</div>
				</div>
				<div class="row row-condensed space-4">
					<label class="text-right col-sm-3">Erasmus City</label>
					<div class="col-sm-9">
						<div class="select">
							<select id="cmbErasmusCity">
								<option value="-1"
									selected="#{webApplication.user.erasmusCityId == null ? 'selected' : ''}">-Select City-</option>
								<ui:repeat var="city" value="#{userController.erasmusCityList}" varStatus="status">
									<option value="#{city.id}" selected="#{webApplication.user.erasmusCityId eq city.id ? 'selected' : ''}">#{city.name}</option>
								</ui:repeat>
							</select>
						</div>
					</div>
				</div>
				<div class="row row-condensed space-4">
					<label class="text-right col-sm-3">Erasmus University</label>
					<div class="col-sm-9">
						<div class="select">
							<select id="cmbErasmusUniversity">
								<option value="-1"
									selected="#{webApplication.user.erasmusUniversityId == null ? 'selected' : ''}">-Select University-</option>
								<ui:repeat var="university" value="#{userController.erasmusUniversityList}" varStatus="status">
									<option value="#{university.id}" selected="#{webApplication.user.erasmusUniversityId eq university.id ? 'selected' : ''}">#{university.name}</option>
								</ui:repeat>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>