@charset "UTF-8";

@font-face {
  font-family: "housing-anywhere";
  src:url("https://file.myfontastic.com/U44r8LSK9uDhCFv5svVN3j/fonts/1447146134.eot");
  src:url("https://file.myfontastic.com/U44r8LSK9uDhCFv5svVN3j/fonts/1447146134.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/U44r8LSK9uDhCFv5svVN3j/fonts/1447146134.woff") format("woff"),
    url("https://file.myfontastic.com/U44r8LSK9uDhCFv5svVN3j/fonts/1447146134.ttf") format("truetype"),
    url("https://file.myfontastic.com/U44r8LSK9uDhCFv5svVN3j/fonts/1447146134.svg#1447146134") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "housing-anywhere" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ha-"]:before,
[class*=" ha-"]:before {
  font-family: "housing-anywhere" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ha-home:before {
  content: "a";
}
.ha-magnifying-glass:before {
  content: "b";
}
.ha-globe-world:before {
  content: "c";
}
.ha-smile:before {
  content: "d";
}
.ha-chat-bubble-two:before {
  content: "e";
}
.ha-facebook:before {
  content: "f";
}
.ha-twitter:before {
  content: "g";
}
.ha-linkedin:before {
  content: "h";
}
.ha-social-snapchat:before {
  content: "i";
}
.ha-angle-right:before {
  content: "j";
}
.ha-youtube:before {
  content: "k";
}
.ha-caret-down-two:before {
  content: "l";
}
.ha-caret-up-two:before {
  content: "o";
}
.ha-euro:before {
  content: "m";
}
.ha-check-mark-circle-two:before {
  content: "n";
}
.ha-circle-line:before {
  content: "p";
}
.ha-circle:before {
  content: "q";
}
.ha-trash-bin:before {
  content: "r";
}
.ha-delete-circle:before {
  content: "s";
}
.ha-facebook-alt:before {
  content: "t";
}
.ha-building:before {
  content: "u";
}
.ha-suitcase:before {
  content: "v";
}
.ha-angle-left:before {
  content: "w";
}
.ha-plus:before {
  content: "x";
}
.ha-like:before {
  content: "y";
}
.ha-chat-bubble:before {
  content: "z";
}
.ha-prize-award:before {
  content: "A";
}
.ha-letter-mail:before {
  content: "B";
}
.ha-wrench:before {
  content: "C";
}
.ha-pencil:before {
  content: "D";
}
.ha-repeat-redo:before {
  content: "E";
}
.ha-check-mark:before {
  content: "G";
}
.ha-block:before {
  content: "H";
}
.ha-stopwatch:before {
  content: "I";
}
.ha-question:before {
  content: "J";
}
.ha-star-1:before {
  content: "L";
}
.ha-star-two:before {
  content: "F";
}
.ha-archive:before {
  content: "K";
}
.ha-flag:before {
  content: "M";
}
